.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.title {
  font-size: 100px;
}

.title a {
  color: #230567;
  text-decoration: none;
}

.p {
  color: #7b26b4;
  font-size: 50px;
  display: center;
}

.flex {
  display: flex;
}